<p-carousel 
  [value]="Datos" 
  [numVisible]="cantVisible" 
  [numScroll]="Nscroll" 
  [circular]="true" 
  [autoplayInterval]="3000"
  [showIndicators]="showIndicator"
  [showNavigators]="showIndicator"
  styleClass="carousel-container">

  <ng-template pTemplate="item" let-product>
    
    <div class="rounded-3xl h-[500px] p-4
                flex flex-col items-center text-center transition-all duration-200 hover:bg-pink-100">

      <img
        [src]="'img/' + product.id + '.jpg'"
        alt="{{ product.nombre }}"
        class="rounded-xl border-2 border-[#FFE5E0] object-cover"
        width="260"
        height="180"
      />

      <h3 class="mt-3 text-xl font-semibold text-pink-600">
        {{ product.nombre }}
      </h3>

      <p class="text-[#2C2C34] text-sm mt-1">
        Precio: ${{ product.precio }}
      </p>

      <p class="text-xs text-pink-600 font-medium mt-2">
        Stock disponible: {{ product.stock }}
      </p>

      <div class="mt-4 w-full flex flex-col gap-2">
      </div>

    </div>

  </ng-template>
</p-carousel>
