:host ::ng-deep .p-carousel .p-card {
  margin: 0.5rem;
  transition: transform 0.3s ease;
}

:host ::ng-deep .p-carousel .p-card:hover {
  transform: scale(1.03);
}

:host ::ng-deep .p-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ff7043;
}
