
.tabla-pastel {
  border-radius: 16px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #fadde0;
}

.header-pastel {
  background: #FFFDEA !important;
  color: #FF7D59 !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 13px;
  padding: 14px 12px !important;
  border-bottom: 2px solid #FADDD8 !important;
}

.celda-pastel {
  padding: 14px 12px !important;
  font-size: 15px;
  color: #2C2C34;
  border-bottom: 1px solid #FADDD8 !important;
  cursor: pointer;
  transition: 0.2s ease;
}

.fila-data:hover .celda-pastel {
  background: #FFE5E0 !important;
  transform: translateY(-1px);
}

.celda-pastel:first-child {
  font-weight: 600;
  color: #2C2C34;
}

.fila-data:nth-child(even) .celda-pastel {
  background: #FFF7F5;
}

.mat-row:hover {
  background: transparent !important;
}

.tabla-pastel {
  box-shadow: 0 4px 10px rgba(255, 199, 199, 0.25);
}


.pastel-modal .p-dialog-header {
  background: #FFFDEA !important;
  border: none !important;
}

.pastel-card {
  border-color: #f4cfcf !important;
}

.pastel-card:hover {
  transform: scale(1.01);
  transition: 0.2s ease;
  box-shadow: 0 4px 10px rgba(255, 183, 218, 0.25);
}
