<mat-drawer-container class="h-screen bg-[#FFFDEA]">

<mat-drawer
    #drawer
    mode="side"
    opened
    class="w-64 p-6 shadow-md rounded-r-3xl border-r border-[#FADDD8] bg-[#FFFDEA]"
>

    <h2 class="text-2xl font-bold mb-8 text-pink-600 text-center">
    Menú 
    </h2>

    <ul class="space-y-3">

    <li>
        <a routerLink="/dashboard"
        routerLinkActive="active-link"
        class="block p-3 rounded-2xl font-medium text-[#2C2C34] hover:bg-pink-300  hover:text-pink-600 transition">
        <span class="pi pi-images"></span> Dashboards
        </a>
    </li>

    <li>
        <a routerLink="/productos"
        routerLinkActive="active-link"
        class="block p-3 rounded-2xl font-medium text-[#2C2C34]  hover:bg-pink-300  hover:text-pink-600 transition">
        <span class="pi pi-tags"></span> Productos
        </a>
    </li>

    <li>
        <a routerLink="/clientes"
        routerLinkActive="active-link"
        class="block p-3 rounded-2xl font-medium text-[#2C2C34]  hover:bg-pink-300  hover:text-pink-600  transition">
        <span class="pi pi-address-book"></span> Clientes
        </a>
    </li>

    <li>
        <a routerLink="/ventas"
        routerLinkActive="active-link"
        class="block p-3 rounded-2xl font-medium text-[#2C2C34]  hover:bg-pink-300 hover:text-pink-600 transition">
        <span class="pi pi-shopping-bag"></span> Ventas
        </a>
    </li>

    </ul>
</mat-drawer>

<mat-drawer-content class="p-8 min-h-screen bg-[#FFF7F5]">

    <button
    mat-icon-button
    (click)="drawer.toggle()"
    class="bg-pink-300 rounded-3xl w-[30px] h-[30px]"
    >
    <span class="pi pi-bars"></span>
    </button>

    <router-outlet></router-outlet>
</mat-drawer-content>

</mat-drawer-container>